name: workflow-template-demo

on: [push, workflow_dispatch]

jobs:
  dev_deployment:
    if: false
    uses: mrsmitty/workflow-templates/.github/workflows/template.yml@main
    with:
      environment_name: non-production

  prod_deployment:
    if: (github.ref == 'refs/heads/main')
    uses: mrsmitty/workflow-templates/.github/workflows/template.yml@main
    with:
      environment_name: production