name: workflow-template-demo

on: [push, workflow_dispatch]

jobs:
  dev_deployment:
    uses: mrsmitty/workflow-templates/.github/workflows/template.yml@main
    with:
      environment_name: non-production

  prod_deployment:
    if: false || (github.ref == 'refs/heads/main')
    needs: dev_deployment
    uses: mrsmitty/workflow-templates/.github/workflows/template.yml@main
    with:
      environment_name: production